<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="icon" src="https://avatars.githubusercontent.com/u/82790795?v=4">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title><%= title %></title>
    <!-- <script type='text/javascript' src='//traditionallyobjectlessblinked.com/3d/dd/f9/3dddf9dbc7ebd46f35a6eb38c8c4b679.js'></script> -->
  </head>

  <body>
  <%- include('nav') %> 

  <div class="d-flex justify-content-center">
  
    <script type="text/javascript">
      atOptions = {
        'key' : '42de07b3894467fe081bd3813b18ef73',
        'format' : 'iframe',
        'height' : 90,
        'width' : 728,
        'params' : {}
      };
      document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://www.variouscreativeformats.com/42de07b3894467fe081bd3813b18ef73/invoke.js"></scr' + 'ipt>');
    </script>

  </div>

  <div style="background-color: #fcfcfc;">
      <%- body %> 
  </div>

  <!-- <script async="async" data-cfasync="false" src="//traditionallyobjectlessblinked.com/566724bc8b0d4b1d286659bb72e05816/invoke.js"></script>
  <div id="container-566724bc8b0d4b1d286659bb72e05816"></div> -->
  <br>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>

  <footer>
    <p class="text-center">
        <br>
        Copyright by <a href="https://www.instagram.com/franda_store">Frado</a>
    </p>
    <div class="d-flex justify-content-center">

      <script type="text/javascript">
        atOptions = {
          'key' : 'e8e29ae6b114fccd42ac20b9a0713b03',
          'format' : 'iframe',
          'height' : 50,
          'width' : 320,
          'params' : {}
        };
        document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://www.variouscreativeformats.com/e8e29ae6b114fccd42ac20b9a0713b03/invoke.js"></scr' + 'ipt>');
      </script>
  
    </div>

    <div class="d-flex justify-content-center">

      <script type="text/javascript">
        atOptions = {
          'key' : '7a0d4aa6a81ffed8bc256d34598c7355',
          'format' : 'iframe',
          'height' : 60,
          'width' : 468,
          'params' : {}
        };
        document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://traditionallyobjectlessblinked.com/7a0d4aa6a81ffed8bc256d34598c7355/invoke.js"></scr' + 'ipt>');
      </script>
  
    </div>
  </footer>
</html>