<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" style="margin-left: 8%;" href="/"> <img src="https://avatars.githubusercontent.com/u/82790795?v=4" class="rounded-circle" style="width: 40px;"> </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/ff-register">Free Fire</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/pubg-register">PUBG</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://fradojr.github.io">About</a>
        </li>
      </ul>
    </div>
  </nav>