<div style="background-color: red; color: white; padding: 10px;">
    <h5><center>Turnamen tidak ditemukan, atau email & password salah!</center></h5>
</div>
<br>
<div class="card center">
    <a class="btn btn-primary" href="/ff-login"><strong>Login Lagi</strong></a>
</div>