<div class="row">
    <br>
    <div style="margin: 5px;">
        <a href="ff-register"><img style="width: 100px;" src="https://venturebeat.com/wp-content/uploads/2020/05/Garena-Free-Fire.jpg?w=1200&strip=all" alt="Card image cap"></a>
    </div>
    <div style="margin: 5px;">
        <a href="pubg-register"><img style="width: 100px;" src="https://jakartainsight.com/upload/medium/1553372362pubg-mobile-1.png" alt="Card image cap"></a>
    </div>
</div>