<div class="d-flex justify-content-center">
    <div class="text-center" style="padding: 10px;">
        <h4>Pilih Game</h4>
        <div class="row">
            <br>
            <div style="margin: 10px;">
                <a href="ff-register"><img style="width: 180px;" src="https://venturebeat.com/wp-content/uploads/2020/05/Garena-Free-Fire.jpg?w=1200&strip=all" alt="Card image cap"></a>
            </div>
            <div style="margin: 10px;">
                <a href="pubg-register"><img style="width: 180px;" src="https://jakartainsight.com/upload/medium/1553372362pubg-mobile-1.png" alt="Card image cap"></a>
            </div>
        </div>
    </div>
</div>